
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Roboto&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f7f6 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(19, 21, 26);
  margin: auto;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: auto;
  background-color: rgb(35, 37, 43);
  font-weight: bold;
}
.navLink {
  color: rgb(105, 13, 128);
  font-size: 20px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.container-carousel {
  position: relative;
  width: 800px;
  left: 100px;
  top: 0;
}

/* Shopping cart */

.container-shoppingcart {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.button-shoppingcart {
  height: 35px;

  color: white;
}
.counter-shoppingcart {
  color: white;
  text-align: center;
  margin: 0;
}
.logoHeader {
  color: white;
  font-family: 'Playball';
  margin-left: 15px;
}
/* 
.addToCart {
  position: absolute;
  width: 100%;
  background-color: darkgrey;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align:center;
}

.image:hover .item1,
.image:hover .item2,
.image:hover .item3 {
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
} */

#videos {
  height: 800px;
  width: 1000px;
  background-color: red;
}
#publisher {
  height: 300px;
  width: 500px;
}

#subscriber {
  height: 300px;
  width: 500px;
}